.texCenter {
  text-align: center;
}
.formParent {
  margin-bottom: 30px;
  margin-top: 30px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameAndEmail {
  width: 280px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #457b9d;
  transition: border 0.5s ease-in-out;
}
.message {
  width: 280px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #457b9d;
  transition: border 0.5s ease-in-out;
}
.nameAndEmail:hover,
.message:hover {
  border: 2px solid #252a34;
}
.buttonSubmit {
  padding: 10px;
  width: 280px;
  border-radius: 5px;
  background-color: #457b9d;
  color: #eaeaea;
  border: transparent;
  font-weight: 700;
  transition: background-color 0.5s ease-in-out;
}
.buttonSubmit:hover {
  background-color: #252a34;
  color: #eaeaea;
}
